
.header {
    height: 140px;
    background-color: var( --ion-color-primary) ;
    width: 100%;
    padding-top: 1px;
}
.header h2 {
    color: white;
    text-align: center;
    font-weight: bold;
}

    .img-box {
        border-radius: 50%;
        overflow: hidden;
        height: 130px;
        width: 130px;
    }
    .border-white {
        border: white solid 4px;
        border-radius: 50%;
        width: fit-content;
    }
    .border-blue {
        border: 7px solid var(--ion-color-tertiary);
        border-radius: 50%;
        width: fit-content;
    }
    .flex {
        display: flex;
        justify-content: center;
        margin-top: -76px;
    }
    .social{
        margin-top: 20px;
        display: flex;
        ion-icon{
            height: 50px;
            width: 100%
        }
    }
