.title{
    text-align:center;
}

.header {
    height: 140px;
    background-color: var( --ion-color-primary) ;
    width: 100%;
    padding-top: 1px;
}
.toolbar-title {
    text-overflow: unset;
    white-space: unset;
 }
 .txt{
    margin-left: 10px;
    margin-right: 10px;
 }