<ion-header class="ion-no-border">
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar >
    <h1 class="title" >{{item.title}}</h1>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title size="small">{{item.pubDate}}</ion-title>
  </ion-toolbar>
  <iframe *ngIf="isyoutube(item)" width="100%" height="240px" [src]="lien" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  <p class="txt" [innerHTML]="item.content"></p>
</ion-content>

