<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar no-border>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content  [fullscreen]="true">

  <ion-header collapse="condense" class="ion-no-border">
    <ion-toolbar  >
      <ion-title size="large">Informations</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list id="inbox-list" *ngFor="let p of logos ; let i = index">

      <ion-item routerDirection="root" [routerLink]="[p.url]"detail="false" routerLinkActive="selected">
        <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
        <ion-label>{{ p.titre }}</ion-label>
      </ion-item>

  </ion-list>



</ion-content>
