<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar no-border>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content  [fullscreen]="true">

  <ion-header collapse="condense" class="ion-no-border">
    <ion-toolbar  >
      <ion-title color="primary"  size="large">Bienvenue </ion-title>


    </ion-toolbar>
    <ion-toolbar >
      <ion-title color="primary" size="large" class="subtitle" >Bérénice</ion-title>
    </ion-toolbar>
  </ion-header>


  <div id="menu">
    <div id="ligne">
      <div id="col">
        <ion-card>
          <ion-card-header>
            <ion-icon name="airplane-outline" color="primary" ></ion-icon>
            <ion-card-title color="primary" >News</ion-card-title>
          </ion-card-header>
        </ion-card>
      </div>
      <div id="col">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Card Title</ion-card-title>
          </ion-card-header>
        </ion-card>
      </div>
    </div>

    <div id="ligne">
      <div id="col">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Card Title</ion-card-title>
          </ion-card-header>
        </ion-card>
      </div>
      <div id="col">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Card Title</ion-card-title>
          </ion-card-header>
        </ion-card>
      </div>
    </div>
    <div id="ligne">
      <div id="col">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Card Title</ion-card-title>
          </ion-card-header>
        </ion-card>
      </div>
      <div id="col">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Card Title</ion-card-title>
          </ion-card-header>
        </ion-card>
      </div>
    </div>
  </div>

  
</ion-content>
